<?xml version="1.0"?>
<CloudConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--
  SupportCloud:設定是否支援Cloud功能
  true:允許
  false:不允許 
  -->
  <SupportCloud>true</SupportCloud>
  <Role>member</Role>
  <!--
  IsAuthCenter:此web是否是身份認證中心
  true:是
  false:否
  -->
  <IsAuthCenter>false</IsAuthCenter>    
  <!--AuthMaster:身份認證中心的url位置-->  
  <AuthMaster>pd-developer/ISTWebTemplate3/</AuthMaster>  
  <!--本機是身份證中心的話需要維護這4個資訊-->
  <!--主機的協定 http 或是 https-->
  <AuthCenterPrototype>http</AuthCenterPrototype>
  <!-- 主機Host Name -->
  <AuthCenterHost>pd-developer</AuthCenterHost>
  <!--主機 IP-->  
  <AuthCenterIP>10.11.80.145</AuthCenterIP>
  <!--網部目錄-->
  <AuthCenterWebRoot>ISTWebTemplate3</AuthCenterWebRoot>
  <!--
  Slave:我的附屬節點有誰
  -->
  <Slave><![CDATA[Slave:[
  {
    "IP": "10.11.80.145",
    "ACTIVE": "Y"
  },
  {
    "IP": "127.0.0.1",
    "ACTIVE": "R"
  }
]]]></Slave>
  <!--
  Twins:我的複制出來的網站
  -->
  <Twins><![CDATA[          
    Twins:[
      {IP:"10.11.80.145-1",ACTIVE:"Y"},
      {IP:"10.11.80.145-2",ACTIVE:"Y"}
    ]
  ]]></Twins>
  <CloudKeyPub>Canred</CloudKeyPub>
</CloudConfigInfo>