<?xml version="1.0"?>
<DataBase>
  <!--資料庫的預設類型；MSSQL,MYSQL,ORACLE-->
  <Type>MSSQL</Type>
  <!--資料庫若為MSSQL時，你必須設定你的dataSchema；預設為dbo-->
  <DataSchema>dbo</DataSchema>
  <!--資料庫在組合語法時是否區分大小寫；true,false-->
  <!--<Case_Sensitive>true</Case_Sensitive>-->
  <!--是如紀綠SQL語句-->
  <logSQL>true</logSQL>
  <!--當SQL 執行時間大於多少時，記綠Warn log,單是是毫秒-->
  <SqlRunTimeMaximum>2000</SqlRunTimeMaximum>
  <!--以下是系統使用到的資料庫區塊-->
  <!--
  Name ： 為資料庫的視別名稱
	Type ： 為資料庫的類型；MSSQL,MYSQL,ORACLE
	Connection ： 為連接字符串
	注意：一定要有 BASIC 的資料庫區塊組Sample內容如下：
	<DB Name="BASIC"  Type="MSSQL">
		<Connection>Data Source=YourIp\Account;Initial Catalog=Basic;User ID=sa;password=xxx</Connection>
	</DB>	  
	<DB Name="BASIC" Type="ORACLE">
    <Connection>Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=xx.xx.xx.xx)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=serviceName)));User Id=xxxx;Password=xxxx;pooling=false;</Connection>
  </DB> 
  <DB Name="BASIC" Type="MYSQL">
    <Connection>Server=xx.xx.xx.xx;Port=3306;Database=eda;Uid=xxxx;Pwd=xxxx;</Connection>
  </DB>
  -->
  <DB Name="BASIC" Type="MYSQL">
    <Connection>Server=localhost;Port=3306;Database=basic;Uid=root;Pwd=canred;</Connection>
  </DB>
  <!--以下是系統使用到的錯誤紀綠資料庫區塊-->
  <DB Name="MyException" Type="MYSQL">
    <Connection>Server=localhost;Port=3306;Database=basic;Uid=root;Pwd=canred;</Connection>
  </DB>
  <!--以下是系統使用到的動作紀綠資料庫區塊-->
  <DB Name="ActionLog" Type="MYSQL">
    <Connection>Server=localhost;Port=3306;Database=basic;Uid=root;Pwd=canred;</Connection>
  </DB>
</DataBase>