<?xml version="1.0"?>
<DirectAuthConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"> 
	<!--
	AllowCrossPost:設定是否允許被跨域POST
	true:允許
	false:不允許	
	-->
  <AllowCrossPost>true</AllowCrossPost>  
  <!--
	Rule設定分成二段
	access_all:是否允許所有的來源的跨域請找
	directUrl:當access_all 等於 false時，
	          表示有條件式的允許跨域請求
			  其每一項中的dsource表來源請求的網段設定
			  IP:192.168.    表示來源IP起頭為192.168.的就允許
			  dsource可設定多組如下
				****************************
				dsource:[
					{IP:"10.11.80"},
					{IP:"192.168.10"}
				]
				****************************	
  -->
  <Rule>
  <![CDATA[
  access_all:"true", 	
  directUrl:[
		{
			name:"公司網段",
			dsource:[
				{IP:"101.11.80.145"},
				{IP:"10.11.80"}
			]
		}
	]
  ]]>
  </Rule>
  <ProxyPermission>false</ProxyPermission>
  <NoPermissionAction>
    <![CDATA[  
  list:[
		{
			name:"UserAction.keepSession"			
		}
    ,
    {
      name:"UserAction.forgetPassword"
    }
    ,
    {
      name:"UserAction.logon"
    },
    {
      name:"UserAction.getUserInfo"
    },
    {
      name:"UtilAction.getUid"
    },
    {
      name:"UserAction.cloudLogon"
    }
	]
  ]]>
  </NoPermissionAction>
</DirectAuthConfigInfo>

