<?xml version="1.0"?>
<ParemterConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--Start初始化資料庫使用-->
  <InitCompany>myCompany</InitCompany>
  <InitCompanyUuid>14043017113800054</InitCompanyUuid>
  <InitAdmin>myAdmin</InitAdmin>
  <InitAdminUuid>14043017113900056</InitAdminUuid>
  <InitAppUuid>14043017114000058</InitAppUuid>
  <!--End初始化資料庫使用-->
  <AppName>LKWebTemplate3</AppName>
  <!--AD,DEV,PWD-->
  <AuthenticationType>PWD</AuthenticationType>
  <!--If EnableGuestLogin is true , you want to setting GuestAccount,GuestCompany-->
  <EnableGuestLogin>false</EnableGuestLogin>
  <GuestCompany>canred</GuestCompany>
  <GuestAccount>guest</GuestAccount>
  <IsProductionServer>false</IsProductionServer>
  <DefaultPage>~/admin/basic/company.aspx</DefaultPage>
  <!--if Authentication is PWD Type , you need to setting LogonPage info.-->
  <LogonPage>~/default.aspx</LogonPage>
  <WebRoot>http://localhost/LKWebTemplate3/</WebRoot>
  <DEVUserCompany>myCompany</DEVUserCompany>
  <DEVUserAccount>myAdmin</DEVUserAccount>
  <DEVUserPassword>myAdmin</DEVUserPassword>
  <NoPermissionPage>~/warming/noPermission.aspx</NoPermissionPage>
  <LogoutPage>~/logout.aspx</LogoutPage>
  <UploadFolder>~/Upload/</UploadFolder>
  <!--系統的標題文字-->
  <Title>系統標題</Title>
  <!--系統使用的ICons位置-->
  <SystemIcon>~/css/images/logo.ico</SystemIcon>
  <!--master page 的公司圖片-->
  <CompanyImage>~/css/custimages/logo.png</CompanyImage>
  <!--系統完整名稱-->
  <SystemName>This is a web application .</SystemName>
  <!--系統英文名與詳細說明-->
  <SystemDescription>This web build from LK Framework 4 .</SystemDescription>
  <!--master foolter 的文字內容-->
  <SystemFoolter>系統尾部文字</SystemFoolter>
  <DirectApplicationName>WS</DirectApplicationName>
  <DirectTimeOut>60000</DirectTimeOut>
  <GraphicsCertification>false</GraphicsCertification>
  <WhereAnyChangeAccount>true</WhereAnyChangeAccount>
</ParemterConfigInfo>