<?xml version="1.0"?>
<SMTPConfigInfo>
  <!--設定公司SMTP Server-->
  <SMTPServerHost>smtp.isti.com.tw</SMTPServerHost>
  <!--設定公司SMTP Server的Port，可為空-->
  <SMTPServerPort>25</SMTPServerPort>
  <!--是否要寄信(如果設為Y則會正常寄信,如果設為N則不會寄信但是會寫紀錄進入mail_history)-->
  <IsSend>Y</IsSend>
  <!--寄件人設定-->
  <FromEmail>canred_chen@istgroup.com</FromEmail>
  <!--是否要寄送正式信件(如果設為Y則會寄給實際收信者.如果設為N則會寄信給DebugEmail所列之成員,而實際收信者會列在mail內容的最後面)-->
  <IsSendMail>Y</IsSendMail>
  <!--是否要寄送信件給管理員(當IsSendMail設為Y時才會考慮此Flag,當此Flag設為Y時會將AdministratorEmail所列之成員放在密送人員)-->
  <IsSendAdminMail>Y</IsSendAdminMail>
  <!--管理員信箱,多收件人時必須使用逗號區隔-->
  <AdministratorEmail>canred_chen@istgroup.com</AdministratorEmail>
  <!--是否要寄送信件給程式開發人員(當IsSendMail設為Y時才會考慮此Flag,當此Flag設為Y時會將DebugEmail所列之成員放在密送人員)-->
  <IsSendDebugMail>Y</IsSendDebugMail>
  <!--程式開發人員信箱,多收件人時必須使用逗號區隔-->
  <DebugEmail>canred_chen@istgroup.com</DebugEmail>
  <!--SMTP Server 登入的密碼；兩者都設定時才會設定寄信人身份-->
  <CredentialsAccount>
  </CredentialsAccount>
  <CredentialsPassword>
  </CredentialsPassword>
</SMTPConfigInfo>