<?xml version="1.0"?>
<UserInfo>
  <User_Assembly_Load>LKWebTemplate</User_Assembly_Load>
  <User_Assembly_Type>LKWebTemplate.BasePage</User_Assembly_Type>
  <User_Assembly_Method>getUser</User_Assembly_Method>
  <User_Assembly_Property_Uuid>UUID</User_Assembly_Property_Uuid>
  <User_Assembly_Property_CompanyUuid>COMPANY_UUID</User_Assembly_Property_CompanyUuid>
  <User_Assembly_Property_COMPANY_ID>COMPANY_ID</User_Assembly_Property_COMPANY_ID>
  <User_Assembly_Property_EMAIL>EMAIL</User_Assembly_Property_EMAIL>
  <User_Assembly_Property_IS_ADMIN>IS_ADMIN</User_Assembly_Property_IS_ADMIN>
  <User_Assembly_Property_ACCOUNT>ACCOUNT</User_Assembly_Property_ACCOUNT>
</UserInfo>