<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>        
        <section name="APConfigFiles" type="System.Configuration.NameValueSectionHandler"/>      
    </configSections>
    
    <APConfigFiles>        
        <add key="DataBaseConfig" value="~/configs/DataBase.xml"/>
    </APConfigFiles>
</configuration>